*{
    font-family: Arial, sans-serif;
    font-weight: 300;
}
body{
    background-color: black;
}
h4{
    position: relative; 
}
.container{
    margin: 100px;
}
.container1{
    display: flex;
    width: 60%;
}
#container2{
    background-color: white;
    /* padding-left: 80px 65px; */
    /* flex: 2; */
    text-align: center;
    width: 60%;
    height: 528px;
}
.blocktoinline{
   display: inline-block;
}
.inlinetoblock{
    display: block;
}
.col{
    width: 40%;
    height: 528px;
    /* flex: 1; */
    padding: 30px 35px;
}
#formbox{
    padding: 20px;
}
#color{
    position: relative;
    bottom: -120px;
    color: #2874F0;
}
#Login-text{
    background-image: url(/Assets/login_img_.png);
    background-position: center 85%;
    background-repeat: no-repeat;
    background-color: #2874F0;
    color: white;
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2874F0;
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
}
#btn-Login {
    margin-top: 30px;
    width: 350px;
    height: 55px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #FB641B;
    color: white;
    border-radius: 2px;
}

#btn-otp {
    margin-top: 30px;
    width: 350px;
    height: 55px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #2874F0;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}